
@font-face
{
    font-family: 'Orb';
    src: url(../fonts/Orbitron.ttf);
}

html body{
    font-family: 'Orb';
}

@media only screen and (max-width: 699px)
{

body
{
    background-color: rgb(32, 32, 32);
    color: rgb(218, 114, 30);
    
}



#grid
    {
        display: grid;
        grid-template-rows: auto auto auto auto;
        grid-template-columns: 1fr;
        overflow-wrap: break-word;
    }

    header
    {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    article
    {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;

    }
    footer
    {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    ::-webkit-scrollbar {
        width: 2.2%;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 8px rgb(41, 41, 41); 
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: rgb(36, 36, 36); 
        border: rgb(158, 75, 20) solid 1px;
        box-shadow: orange 0px 0px 4px, inset rgb(107, 56, 8) 0px 0px 3px;
        border-radius: 2px;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #282b31; 
    }

    /* Header Styles  */
    header
    {
        background-color: black;
        box-shadow: black 0px 0px 3px 1px;
    }
    header > h1{
        font-size: 50px;
        text-align: center;
        padding: 10px;
        text-shadow: rgb(112, 76, 10) 0px 0px 4px;

    
    }
    header > #logo
    {
        width: 100px;
    }
    /*  */
    /*  */
    /*  */


    /* */
    /* Navigation Styles */
    /* */
    nav
    {
        position: fixed;
        width: 100%;
        background-color: black;
        bottom: 0;
        z-index: 1;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: auto;
        min-height: 50px;
    }

    nav > a
    {

        text-decoration: none;
        vertical-align: middle;
    }

    nav > a > div
    {
        height: 15px;
        text-align: center;
        text-decoration: none;
        padding: 2px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        background-color: rgba(255, 127, 95, 0.151);
        width: 43%;
        box-shadow: 0px 0px 5px rgb(151, 58, 14);
        font-size: 0.6em;
        color: rgb(255, 255, 255);
        transition: 0.33s; 
        margin: 3px;
        padding: 1px;
        margin-left: 2%;
        text-decoration: none;
        margin-bottom: 1%;
        border-radius: 10px 0px 10px 0px;
    }



    nav > a > div:hover
    {
        transform: scale(1.1);
        box-shadow: 0px 0px 10px rgb(211, 73, 10);
    }
    /* */
    /* */
    /* */


    /* */
    /* Content Styles */
    /* */
    #about
    {
        width: 98%;
        padding: 3% 3% 0% 3%;
    }
    #doubleDisplay
    {
        width: 98%;
        padding: 3% 3% 3% 3%;
        margin: auto;
    }
    #tripleDisplay
    {
        width: 98%;
        padding: 3% 3% 0% 3%;
        margin: auto;
        margin-bottom: 10px;
    }

    /*individual content*/
    .dualShow
    {
        width: 95%;
        padding: 2.5% 0% 2.5% 0%;
        border: solid rgb(168, 82, 2) 1px;
    }
    .tripleShow
    {
        width: 95%;
        padding: 2.5% 0% 2.5% 0%;
        border: solid rgb(168, 82, 2) 1px;
    }

    /*display case styles*/
    .showcase2
    {
        filter: opacity(0.9);
        position: absolute;
        width:100%;
        height: 100%;
    }
    .showcase3
    {
        filter: opacity(0.9);
        position: absolute;
    }
    /* */
    /* */
    /* */


    /* */
    /* Footer Styles */
    /* */
    footer
    {
        background-color: black;
        box-shadow: black 0px -2px 5px;
        min-height: 100px;
        padding: 5%;
        padding-bottom: 10px;
    }
    footer > p
    {
        color: rgb(129, 77, 16);
        position: relative;
        padding: 2.5%;
        padding-bottom: 10px;

    }
    footer > #SM
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding-left: 10px;
    }
    footer > #SM > a
    {
        padding-left: 10px;
    }

    #navSpace
    {
        height: 100px;
        background-color: black;
    }


}


@media only screen and (min-width: 700px) and (max-width: 1199px)
{

    body
{
    background-color: rgb(19, 19, 19);
    color: rgb(156, 78, 14);
    
}



#grid
    {
        display: grid;
        grid-template-rows: auto auto auto auto;
        grid-template-columns: 1fr;
        overflow-wrap: break-word;
    }

    header
    {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    article
    {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;

    }
    footer
    {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    ::-webkit-scrollbar {
        width: 2.2%;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 3px 3px rgb(0, 0, 0); 
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: rgb(0, 0, 0); 
        border: rgb(158, 75, 20) solid 1px;
        box-shadow: orange 0px 0px 8px 2px, inset rgb(107, 56, 8) 0px 0px 6px 2px;
        border-radius: 2px;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #141922; 
    }

    /* Header Styles  */
    header
    {
        background-color: black;
        box-shadow: black 0px 0px 3px 1px;
    }
    header > h1{
        font-size: 50px;
        text-align: center;
        padding: 10px;
        text-shadow: rgb(199, 100, 7) 0px 0px 8px;

    
    }
    header > #logo
    {
        width: 125px;
    }

    /*  */
    /*  */
    /*  */



    /* */
    /* Navigation Styles */
    /* */
    nav
    {
        position: fixed;
        width: 100%;
        background-color: black;
        bottom: 0;
        z-index: 1;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: auto;
        box-shadow: black 0px -5px 15px;

    }

    nav > a
    {

        text-decoration: none;
        vertical-align: middle;
        
    }

    nav > a:hover
    {
        text-shadow: 0px 0px 6px rgb(255, 81, 0);
    }

    nav > a > div
    {
        height: 15px;
        text-align: center;
        text-decoration: none;
        padding: 2px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        background-color: rgba(255, 255, 255, 0.123);
        width: 27.5%;
        box-shadow: 0px 0px 5px rgb(151, 58, 14);
        font-size: 1.1em;
        color: rgb(255, 255, 255);
        transition: 0.33s; 
        margin: 3px;
        padding: 1px;
        margin-left: 30px;
        text-decoration: none;
        margin-bottom: 1%;
        border-radius: 10px 0px 10px 0px;
    }

    /*  other nav styles

            text-align: center;
        text-decoration: none;
        padding: 2px;
        display: inline-flex;
        justify-content: space-around;
        align-items: center;
        margin: auto;
        background-color: rgba(255, 255, 255, 0.123);
        width: 17%;
        box-shadow: 0px 0px 15px rgb(151, 58, 14);
        font-size: 0.5em;
        color: rgb(255, 255, 255);
        transition: 0.33s; 
        margin: 1px;
        padding: 1px;
        text-decoration: none;
        margin-bottom: 1%;
        border-radius: 10px 0px 10px 0px;

    */

    nav > a > div:hover
    {
        transform: scale(1.075) translateY(-2px);
        box-shadow: 0px 0px 10px rgb(211, 73, 10);

    }
    /* */
    /* */
    /* */


    /* */
    /* Content Styles */
    /* */
    #about
    {
        width: 95%;
        padding: 2% 2% 1% 2%;
        margin: auto;
        background-color: rgba(255, 194, 80, 0.12);
        border-radius: 20px 20px 0px 0px;

    }
    #doubleDisplay
    {
        width: 95%;
        padding: 2% 2% 0% 2%;
        margin: auto;
        background-color: rgba(255, 119, 40, 0.04);
        border: rgba(156, 78, 14, 0.507) solid 2px;
        box-shadow: rgb(255, 123, 0) 0px 0px 2px 0px, inset rgb(255, 123, 0) 0px 0px 2px 0px;
        padding-bottom: 20px;
    }
    #tripleDisplay
    {
        width: 95%;
        padding: 2% 2% 0% 2%;
        margin: auto;
        background-color: rgba(255, 94, 0, 0.05);
        border: rgba(156, 78, 14, 0.507) solid 2px;
        border-bottom: none;
        border-top: none;
        box-shadow: rgb(255, 123, 0) 0px 0px 2px 0px, inset rgb(255, 123, 0) 0px 0px 2px 0px;
        padding-bottom: 20px;
    }

    /*individual content*/
    .dualShow
    {
        display: inline-block;
        width: 49%;
        padding: 2.5% 0% 2.5% 0%;
        border: rgba(156, 78, 14, 0.507) solid 1px;
    }
    .tripleShow
    {
        display: inline-block;
        width: 32%;
        padding: 2.5% 0% 2.5% 0%;
        border: rgba(156, 78, 14, 0.507) solid 1px;
    }

    /*display case styles*/
    .showcase2
    {
        filter: opacity(0.9);
        position: absolute;
    }
    .showcase3
    {
        filter: opacity(0.9);
        position: absolute;
    }
    /* */
    /* */
    /* */


    /* */
    /* Footer Styles */
    /* */
    footer
    {
        background-color: black;
        box-shadow: black 0px -2px 5px;
        min-height: 100px;
        padding: 5%;
        padding-bottom: 10px;
    }
    footer > p
    {
        color: rgb(129, 77, 16);
        position: relative;
        padding: 2.5%;
        padding-bottom: 10px;

    }
    footer > #SM
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding-left: 10px;
    }
    footer > #SM > a
    {
        padding-left: 10px;
    }

    #navSpace
    {
        height: 100px;
        background-color: black;
    }
}

@media only screen and (min-width: 1200px)
{

    body
{
    background-color: rgb(16, 16, 16);
    color: rgb(156, 78, 14);
    
}

#grid
    {
        display: grid;
        grid-template-rows: auto auto auto auto;
        grid-template-columns: 1fr;
        overflow-wrap: break-word;
    }

    header
    {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    article
    {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;

    }
    footer
    {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    ::-webkit-scrollbar {
        width: 2.2%;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 3px 3px rgb(0, 0, 0); 
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: rgb(0, 0, 0); 
        border: rgb(158, 75, 20) solid 1px;
        box-shadow: orange 0px 0px 8px 2px, inset rgb(107, 56, 8) 0px 0px 6px 2px;
        border-radius: 2px;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #141922; 
    }

    /* Header Styles  */
    header
    {
        background-color: black;
        box-shadow: black 0px 0px 3px 1px;
    }
    header > h1{
        font-size: 50px;
        text-align: center;
        padding: 10px;
        text-shadow: rgb(199, 100, 7) 0px 0px 8px;

    
    }
    header > #logo
    {
        width: 125px;
    }

    /*  */
    /*  */
    /*  */



    /* */
    /* Navigation Styles */
    /* */
    nav
    {
        position: fixed;
        width: 100%;
        background-color: black;
        bottom: 0;
        z-index: 1;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: auto;
        box-shadow: black 0px -5px 15px;
        padding-bottom: 10px;

    }

    nav > a
    {

        text-decoration: none;
        vertical-align: middle;
        
    }

    nav > a:hover
    {
        text-shadow: 0px 0px 6px rgb(255, 81, 0);
    }

    nav > a > div
    {
        height: 20px;
        text-align: center;
        text-decoration: none;
        padding: 2px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        background-color: rgba(255, 255, 255, 0.123);
        width: 30%;
        box-shadow: 0px 0px 5px rgb(151, 58, 14);
        font-size: 1.1em;
        color: rgb(255, 217, 160);
        transition: 0.33s; 
        margin: 3px;
        padding: 1px;
        margin-left: 30px;
        text-decoration: none;
        margin-bottom: 1%;
        border-radius: 10px 0px 10px 0px;
    }

    /*  other nav styles

            text-align: center;
        text-decoration: none;
        padding: 2px;
        display: inline-flex;
        justify-content: space-around;
        align-items: center;
        margin: auto;
        background-color: rgba(255, 255, 255, 0.123);
        width: 17%;
        box-shadow: 0px 0px 15px rgb(151, 58, 14);
        font-size: 0.5em;
        color: rgb(255, 255, 255);
        transition: 0.33s; 
        margin: 1px;
        padding: 1px;
        text-decoration: none;
        margin-bottom: 1%;
        border-radius: 10px 0px 10px 0px;

    */

    nav > a > div:hover
    {
        transform: scale(1.075) translateY(-2px);
        box-shadow: 0px 0px 10px rgb(211, 73, 10);

    }
    /* */
    /* */
    /* */


    /* */
    /* Content Styles */
    /* */
    #about
    {
        width: 90%;
        padding: 2% 2% 1% 2%;
        margin: auto;
        background-color: rgba(255, 194, 80, 0.08);
        border-radius: 20px 20px 0px 0px;

    }
    #doubleDisplay
    {
        width: 90%;
        padding: 2% 2% 0% 2%;
        margin: auto;
        background-color: rgba(255, 119, 40, 0.04);
        border: rgba(156, 78, 14, 0.507) solid 3px;
        box-shadow: rgb(255, 123, 0) 0px 0px 6px 0px, inset rgb(255, 123, 0) 0px 0px 6px 0px;
        padding-bottom: 20px;
    }
    #tripleDisplay
    {
        width: 90%;
        padding: 2% 2% 0% 2%;
        margin: auto;
        background-color: rgba(255, 94, 0, 0.05);
        border: rgba(156, 78, 14, 0.507) solid 3px;
        border-bottom: none;
        border-top: none;
        box-shadow: rgb(255, 123, 0) 0px 0px 6px 0px, inset rgb(255, 123, 0) 0px 0px 6px 0px;
        padding-bottom: 20px;
    }

    /*individual content*/
    .dualShow
    {
        display: inline-block;
        width: 49.5%;
        padding: 2.5% 0% 2.5% 0%;
        border: rgba(156, 78, 14, 0.507) solid 1px;
    }
    .tripleShow
    {
        display: inline-block;
        width: 32.8%;
        padding: 2.5% 0% 2.5% 0%;
        border: rgba(156, 78, 14, 0.507) solid 1px;
    }

    /*display case styles*/
    .showcase2
    {
        display: inline-block;
        filter: opacity(0.9);
        position: absolute;
    }
    .showcase3
    {
        display: inline-block;
        filter: opacity(0.9);
        position: absolute;
    }
    /* */
    /* */
    /* */


    /* */
    /* Footer Styles */
    /* */
    footer
    {
        background-color: black;
        box-shadow: black 0px -2px 5px;
        min-height: 100px;
        padding: 5%;
        padding-bottom: 10px;
    }
    footer > p
    {
        color: rgb(129, 77, 16);
        position: relative;
        padding: 0.5%;
        padding-bottom: 15px;

    }
    footer > #SM
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding-left: 10px;
    }
    footer > #SM > a
    {
        padding-left: 10px;
    }

    #navSpace
    {
        height: 100px;
        background-color: black;
    }
}
